#!/usr/bin/env bash

if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi

# Used by i3-sensible-terminal
TERMINAL=alacritty

## Source local configurations
if [ -e ~/.xprofile.local ]; then source ~/.xprofile.local; fi
