[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=kitty -e nvim %f
Name=NeoVim (kitty)
Comment=Custom definition for "kitty -e nvim"
