################################################################################
snippet ``
\`\`\`
${1}
\`\`\`
endsnippet
################################################################################
################################################################################

# vim:foldmethod=marker:foldlevel=0
