/lists
/memos.json
bookmark.json
coc-yank-data
commands
db.json
extensions/package.json
history.json
list-commands-history.json
list-diagnostics-history.json
list-location-history.json
list-symbols-history.json
mru
node_modules
snippets-mru
